@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.logo {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  box-shadow: 0px 0px 68px 0px var(--purple);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.logo:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
  opacity: 0.8;
}

/* 
BREAKPOINTS:
  Small - 280px
  Mobiles - 568px
  Tablets - 768px
  Laptop:small - 1024px
  Laptop:large to desktops - 1280px
  Large:TV - 1920px
*/

@media screen and (max-width: 280px) {
  .logo {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media screen and (max-width: 568px) {
  .logo {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    height: 3.5rem;
    width: 3.5rem;
  }
}
