.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  align-items: center;
}

.navbar__socials {
  display: flex;
  position: relative;
}

.navbar__social {
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
  margin: 10px;
  padding: 10px;
  background: var(--light-purple);
  backdrop-filter: blur(30px);
  font-size: 1.75rem;
  border-radius: 20%;
  text-decoration: none;
  color: white;
}

/* 
BREAKPOINTS:
  Small - 280px
  Mobiles - 568px
  Tablets - 768px
  Laptop:small - 1024px
  Laptop:large to desktops - 1280px
  Large:TV - 1920px
*/

@media screen and (max-width: 280px) {
  .navbar__social {
    font-size: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .navbar__social {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar__social {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .navbar__social {
    font-size: 2.5rem;
  }
}
