.navbar {
  display: flex;
  background: transparent;
  position: fixed;
  top: 0;
  padding: 30px 0;
  z-index: 999;
  width: 100%;
  margin: 0;
}

.navbar__logo {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  margin-left: 30px;
  user-select: none;
  -moz-user-select: none;
}

.navbar__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 75rem;
}

.navbar__icon {
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  background: red;
  border-radius: 20%;
}
