.main__container {
  width: 55%;
  margin-top: 5rem;
  padding: 10px;
}

.main__title {
  color: var(--primary);
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.main__description {
  color: var(--muted);
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.25rem;
}
