.container {
  height: 100vh;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-left: 2rem;
  overflow: hidden;
  position: relative;
}

.image {
  overflow: hidden;
  height: 40rem;
  width: 40rem;
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-bottom: 5rem; */
}

/* 
BREAKPOINTS:
  Small - 280px
  Mobiles - 568px
  Tablets - 768px
  Laptop:small - 1024px
  Laptop:large to desktops - 1280px
  Large:TV - 1920px
*/

@media screen and (max-width: 1024px) {
  .image {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .image {
    height: 30rem;
    width: 30rem;
  }
}
