.maintenanceWrapper {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
}

.maintenanceText {
  position: absolute;
  color: #fff;
  font-size: 3rem;
}
