.homeHeader__avatar {
  height: 50px !important;
  width: 50px !important;
  margin-right: 50px;
  left: 400px;
}

.logo {
  height: 50px !important;
  width: 50px !important;
}

@media only screen and (max-width: 1500px) {
  .homeHeader__avatar {
    height: 50px !important;
    width: 50px !important;
    margin-right: 25px;
    left: 300px;
  }
}

@media only screen and (max-width: 1300px) {
  .homeHeader__avatar {
    height: 50px !important;
    width: 50px !important;
    margin-right: 100px;
    left: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .homeHeader__avatar {
    height: 50px !important;
    width: 50px !important;
    margin-left: 40px;
    left: 100px;
  }
}
