.homeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #3a3b3c;
}

.homeHeader__logo {
  height: 45px;
  object-fit: contain;
  margin-top: 5px;
  margin-left: 10px;
}

.homeHeader__inputSearch {
  display: flex;
  align-items: center;
  width: 40%;
  float: left;
  border: none;
  outline: none;
}

.homeHeader > .homeHeader__inputSearch > input {
  width: 400px;
  height: 19px;
  margin-left: -5%;
  outline: none;
}

.homeHeader__inputButton {
  width: 50px !important;
  background-color: #f5f6f7;
  color: grey;
  border: none;
  margin-left: 5px;
  outline: none;
}

.homeHeader__input > input {
  flex: 1;
  border: none;
}

section .homeHeader__avatar {
  height: 30px !important;
  width: 30px !important;
  margin-right: 8px;
}

.homeHeader__icons section {
  display: flex;
  align-items: center;
}

.homeHeader__icons {
  display: flex;
  align-items: center;
}

.homeHeader__name {
  display: flex;
  font-weight: 700;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
}

.homeHeader__dash {
  margin-right: 4px;
  margin-left: 5px;
  opacity: 0.1;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* @media only screen and (max-width: 1020px) {
  .homeHeader__inputSearch {
    display: flex;
    align-items: center;
    width: 20%;
    float: left;
  }
}

@media only screen and (max-width: 680px) {
  .homeHeader__inputSearch {
    display: flex;
    align-items: center;
    width: 10%;
    float: left;
  }
} */
