/* 
BREAKPOINTS:
  Mobiles - 500px
  Tablets - 768px
  Laptop:small - 1024px
  Laptop:large to desktops - 1280px
  Large:TV - 1536px
*/

.toast {
  height: 16px;
  font-size: 1rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.main__container {
  height: 100vh;
}
