/* 
BREAKPOINTS:
  Mobiles - 500px
  Tablets - 768px
  Laptop:small - 1024px
  Laptop:large to desktops - 1280px
  Large:TV - 1536px
*/

.hero__background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/bg.jpg") no-repeat center center fixed;
  display: flex;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hero__title {
  color: var(--purple);
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  margin-bottom: 2rem;
}

.hero__slogan {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 4.3rem;
  justify-content: center;
  align-items: center;
}

.hero__slogan_adjective {
  background: var(--title);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__description {
  color: var(--muted);
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1rem;
  max-width: 40rem;
  text-align: center;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
