* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

.main-page-container {
  background-color: #010606;
  display: grid;
  grid-template-columns: 1.1fr 2.1fr 1.4fr;
  color: #fff;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #232b2b;
  border-radius: 25px;
}
