.waitlist__form_container {
  justify-items: center;
  gap: 2;
  margin-top: 2rem;
  margin-bottom: 1rem;
  user-select: none;
  -moz-user-select: none;
}

.waitlist__form_container_label {
  display: block;
  outline: none;
  box-sizing: border-box;
  margin-left: 1rem;
}

.waitlist__form_container_input {
  width: 65%;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #fff;
  padding: 10px;
  padding-left: 20px;
  margin-right: 1rem;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.waitlist__form_container_input::placeholder {
  color: var(--muted);
  font-weight: 600;
}

.waitlist__form_submit {
  width: 8rem;
  color: var(--primary);
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 20px;
  background: var(--blue);
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  transition: ease-in-out 0.6s;
}

.waitlist__form_submit:hover {
  box-shadow: none;
  color: black;
  background-color: var(--muted);
}

.waitlist__form_submit:active {
  border: 1px solid black;
}
/* 
BREAKPOINTS:
  Small - 280px
  Mobiles - 568px
  Tablets - 768px
  Laptop:small - 1024px
  Laptop:large to desktops - 1280px
  Large:TV - 1920px
*/

@media screen and (max-width: 280px) {
  .waitlist__form_container {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .waitlist__form_container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .waitlist__form_container_input {
    width: 50%;
  }

  .waitlist__form_submit {
    width: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .waitlist__form_container_input {
    width: 65%;
  }
}
